<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
  <div style="margin-top: 10px; margin-left: auto; margin-right: auto;" >
    <a  th:href="@{/boardPagingList(page=1)}">
      <<
    </a>
    <a th:href="${boardList.first} ? '#' : @{/boardPagingList(page=${boardList.number})}" style="margin-right: 8px;">
      <
    </a>
    <a th:each="page: ${#numbers.sequence(startPage, endPage)}"
       th:href="@{/boardPagingList(page=${page})}"
       th:style="${page == boardList.number + 1} ? 'margin-right: 8px;  font-size: 30px;':'margin-right: 8px;'"
       th:text="${page}"
    ></a>
    <a th:href="${boardList.last} ? '#' : @{/boardPagingList(page=${boardList.number + 2})}" style="margin-right: 8px;">
      >
    </a>
    <a th:href="@{/boardPagingList(page=${boardList.totalPages})}"  style="margin-right: 8px;">
    </a>
  </div>
</body>
</html>