<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Form</title>
    <link th:href="@{/css/boardSavePage.css}" rel="stylesheet" />
</head>
<body>
<div id="boardSavePage_Id">
    <form action="/boardSave" method="post" id="boardSavePage_Id_Question">
        <label for="boardTitle">Question</label> <br>
        <input type="text" name="boardTitle" id="boardTitle">
        <input type="file" name="file" id="file" accept="image/jpeg, image/png, pdf">
        <label for="boardContent"></label>
        <textarea name="boardContent" id="boardContent" cols="60" rows="30" placeholder="Please Be Specific"></textarea> <br>
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>