<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Context</th>
      <th>Written Time</th>
    </tr>
    <tr th:each="board : ${boardList}">
      <td><a th:href="@{/boardDetailPage(id=${board.id})}" th:text="${board.id}"></a></td>
      <td><a th:href="@{/boardDetailPage(id=${board.id})}" th:text="${board.boardTitle}"></a></td>
      <td><a th:href="@{/boardDetailPage(id=${board.id})}" th:text="${board.boardContent}"></a></td>
      <td><a th:href="@{/boardDetailPage(id=${board.id})}" th:text="${board.boardCreateTime}"></a></td>
    </tr>
  </table>
</div>
</body>
</html>